@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 75px 1fr;
    background-color: #111214;
}
.navigation{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.full-container{
    height: calc(100vh - 75px);
    width: 100vw;
    overflow: hidden;
    padding-bottom: 50px;
}
.primary-color{
    background-color: #1a1a1a;
}
.secondary-color{
    background-color: #2b2b2b;
}
.background-color{
    background-color: #111214;
}
.accent-color{
    color: #e85a2c;
}
.accent-background{
    background-color: #e85a2c;
}
.selected-item{
    background-color: #2b2b2b !important;
}
.input-error{
    border: 1px solid red;
    color: red;
}
.error-text{
    color: red;
}
.error-background{
    background-color: red;
}
.correct-text{
    color: green;
}
